.about-container {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    padding: 1rem;
    max-width: var(--max-width);

}

.about-card-container {
    position: relative;
    width: 90%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: var(--foreground);
    border-radius: var(--border-radius);
    border: 2px solid var(--border);
    color: var(--copy);
    max-width: var(--max-width);
    gap: 25px;
}

.about-card-container:nth-child(even) {
    flex-direction: row-reverse;
}

.about-card-container img {
    width: 200px;
    height: auto;
}