.contact-container {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 1rem;
    max-width: var(--max-width);
}

.contact-header-text {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
}


.contact-header-text p {
    margin: 0;
}

.contact-form {
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 1rem;
    background: var(--foreground);
    border: none;
    border-radius: var(--border-radius);
    max-width: var(--max-width);
    box-shadow: var(--shadow);
}


.contact-form form {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 1rem;
}

.contact-header {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.contact-header input {
    width: 90%;
    max-width: 500px;
    height: fit-content;
    padding: 0.5rem;
    background: var(--foreground);
    border: none;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    color: var(--copy);
    text-align: left;
    font-size: 18px;
}

.contact-form textarea {
    width: 90%;
    max-width: 500px;
    height: 150px;
    padding: 0.5rem;
    background: var(--foreground);
    border: none;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    color: var(--copy);
    resize: none;
    font-size: 18px;
}


.contact-form button {
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    color: var(--copy);
    font-size: 18px;
    font-weight: 700;
    background: var(--foreground);
    border: 1px solid var(--border);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    color: var(--copy);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}


.contact-confirmation {
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 1rem;
    background: var(--foreground);
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    max-width: var(--max-width);
    box-shadow: var(--box-shadow);
}


@media screen and (max-width: 600px) {
    .contact-header input {
        height: 25px;
        font-size: 20px;
    }
    .contact-form textarea {
        height: 300px;
        font-size: 20px;

    }
    
}
