.contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    z-index: 5;
}

.contact-form {
    position: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    z-index: 5;
}

.contact-form input {
    width: 150px;
    height: 10px;
    border-radius: 0.375rem;
    border: 1px solid var(--copy-light);
    background-color: var(--copy);
    color: var(--copy-lighter);
    margin: 10px;
    padding: 10px;
    font-size: 1rem;
    z-index: 5;
}


.contact-form textarea {
    width: 350px;
    resize: none;
    height: 100px;
    border-radius: 0.375rem;
    border: 1px solid var(--copy-light);
    background-color: var(--copy);
    color: var(--copy-lighter);
    padding: 10px;
    font-size: 1rem;
    z-index: 5;
}

.contact-form button {
    width: 100px;
    height: 40px;
    border-radius: 0.375rem;
    border: 1px solid var(--copy-light);
    margin: 10px;
    padding: 10px;
    font-size: 1rem;
    background-color: var(--copy);
    color: var(--copy-lighter);
    cursor: pointer;
    z-index: 5;
}

.contact-info {
    display: flex;
    width: 410px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 5;
}