.dropdown-container {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 90vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    padding-top: 30px;
}

.blurred-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    z-index: 2;
}

.dropdown-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    border: none;
    border-radius: 4px;
    background: rgba(60, 60, 60, 1);
    color: var(--primary-content);
    padding: 0.375rem 0.75rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    margin-bottom: 10px;
    width: 25vw;
    min-width: fit-content;
    cursor: pointer;
    z-index: 5;
}

.arrowsvg {
    fill: var(--primary-content);
    padding-right: 1px;
    padding-left: 10px;
}

.dropdown-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 0.375rem;
    justify-content: space-between;
    background-color: linear-gradient(180deg, rgba(43, 43, 43, 0.9) 0%, rgba(43, 43, 43, 0.45) 75%, rgba(0, 0, 0, 0) 100%);
    width: 95vw;
    height: 70vh;
    z-index: 5;
    padding-top: 10px;
}

.dropdown-item {
    position: relative;
    background: linear-gradient(0deg,
            rgba(255, 255, 255, 0.2) 12%,
            rgba(255, 255, 255, 0.1) 77%);
    background-blend-mode: overlay;
    box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.28);
    /* backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px); */
    align-self: center;
    border: none;
    border-radius: 0.375rem;
    color: var(--primary-content);
    padding: 0.375rem 0.75rem;
    margin: 0.375rem;
    text-align: center;
    text-decoration: none;
    width: 70vw;
    height: 90px;
    font-size: 1.5rem;
    cursor: pointer;
}

@media screen and (max-width: 820px) {
    .dropdown-container {
        display: flex;
    }

    .dropdown-button {
        z-index: 6;
    }
}