.navbar {
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: -725px;
}

.nav-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 15;
    justify-content: flex-start;
    align-items: flex-start;
    width: 500px;
    height: 100vh;
    top: 0;
    right: 0;
    background: none;
    border-top-right-radius: var(--border-radius);
    border-top: none;
    border-bottom: none;
    gap: 10px;
    padding-top: 100px;
  }

.nav-link {
    align-self: flex-end;
    justify-self: flex-start;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--foreground);
    color: var(--copy);
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    padding: 0.5rem 0.5rem;
    font-size: 14px;
    width: 75%;
    height: fit-content;
    padding: 1.5rem 1.5rem;
    text-decoration: none;
    cursor: pointer;
    flex-grow: 1;
    font-size: 20px;
    font-weight: 400;
}



