.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.nav-link {
    color: var(--copy);
    border: 2px solid var(--border);
    border-radius: var(--border-radius);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    flex-grow: 1;
}


