.projects-container {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 1rem;
    max-width: var(--max-width);

}

.project {
    position: absolute;
    top: 0;
    background: var(--foreground);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: justify;
    overflow-x: hidden;
    cursor: pointer;
    overflow-y: scroll;
    border: 2px solid var(--border);
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.project::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.close-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -15px;
    right: 5%;
    padding: 0.25rem;
    cursor: pointer;
    background: none;
    border: none;
    border-radius: var(--border-radius);
    color: var(--copy-light);
    font-size: 32px;
}

.project h3 {
    margin-bottom: 0;
}

.project h4 {
    margin-top: 2px;
    font-size: 14px;
}

.project-stack-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0.25rem;

}

.project-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 125px;
    height: 50px;
    border: none;
    border-radius: var(--border-radius);
    padding: 0.25rem 0.5rem;
    margin-top: 25px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    background: var(--foreground);
    border: 2px solid var(--border);
    color: var(--copy)
}

.project-description-container {
    padding: 1rem;

}

.project-description-container p {
    margin-bottom: 5px;
}