.resume-container {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  padding: 1rem;
  max-width: var(--max-width);
}

.resume {
    width: 90%;
    color: var(--copy);
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
}

.resume img {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  background: var(--foreground);
  background-color: var(--foreground);
  cursor: pointer;
}



@media (max-width: 600px) {
  .resume h2 {
    margin: 0;
    font-size: 22px; 
    color: var(--copy-light);
  
  }

  .resume {
    width: 95%;
    border-radius: none;
    
  }
  
  .resume h3 {
    margin: 0;
    font-size: 16px;
    color: var(--copy-light);
  }
  
  
  .resume p {
    margin: 0;
    font-size: 10px;
    color: var(--copy-lighter);
  }
  
  .resume ul {
    margin: 0;
    font-size: 10px;
    color: var(--copy-lighter);
  }
  .resume a {
    margin: 0;
    font-size: 8px;
    text-decoration: underline;
    color: var(--copy-light)
  }
}