
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}


button,
input,
select,
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.App {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: scroll;
  background: var(--background);
}

.App h1 {
  color: var(--copy);
}

.App h2 {
  color: var(--copy-light);
}

.App h3 {
  color: var(--copy-light);
}

.App h4 {
  color: var(--copy-light);
}

.App p {
  color: var(--copy-lighter);
}

.temp {
  display: none;
}


.intro {
  width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  gap: 25px;
}

.intro img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 25px;
  margin-bottom: 0px;
  cursor: pointer;
}

.page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 1rem;
}





.text-block {
  width: 80%;
  height: fit-content;
  background: var(--foreground);
  border: none;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 0.5rem;
  cursor: pointer;
  max-width: var(--max-width);
  box-shadow: var(--shadow);
}

.text-block h1 {
  color: var(--copy);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 15px;
}

.text-block p {
  color: var(--copy-light);
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}


.link-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  width: 175px;
  height: fit-content;
  border: none;
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  margin-top: 25px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 400;
  background: var(--foreground);
  color: var(--copy);
  box-shadow: var(--shadow);
}

.skills {
  position: relative;
  width: 80%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 0.5rem;
  gap: 15px;
  font-size: 18px;
  background: var(--foreground);
  border: none;
  box-shadow: var(--shadow);
  color: var(--copy);
  border-radius: var(--border-radius);
  max-width: var(--max-width);
}

.skill {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  background: var(--foreground);
  color: var(--copy);
  cursor: pointer;
  box-shadow: var(--shadow);
}

.menu-buttons {
  position: fixed;
  display: flex;
  flex-direction: row;
  z-index: 20;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 20px;
  height: fit-content;
  padding: 0;
  top: 20px;
  right: 20px;
  color: var(--copy-light);
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
  box-shadow: none;
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  border: none;
  box-shadow: var(--shadow);
  cursor: pointer;
  color: var(--copy);
  background: var(--foreground);
  box-shadow: var(--shadow);
}

.nav-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 15;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 500px;
  height: 100%;
  top: 0;
  right: 0;
  background: var(--foreground);
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border-right: 2px solid var(--border);
  border-top: none;
  border-bottom: none;
  gap: 10px;
  padding-top: 100px;
  box-shadow: var(--shadow);
}
.blurred-background {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: var(--glass-foreground);
  backdrop-filter: var(--glass-backdrop-filter);
  -webkit-backdrop-filter: var(--glass-webkit-backdrop-filter);
  z-index: 10;
}

.burger {
  margin: 0;
  padding: 0;
  color: var(--copy-light);
  font-size: 24px;
}


.theme-icon {
  margin: 0;
  padding: 0;
  color: var(--copy-light);
  font-size: 24px;
}

@media (max-width: 500px) {
  .page-container {
    margin-top: 40px;
  }
}