
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}


button,
input,
select,
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.App {
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: scroll;
  background: var(--background);
}


.intro {
  width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  gap: 25px;
}

.App img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 0px;
  margin-bottom: 0px;
  cursor: pointer;
}



.text-block {
  width: 80%;
  height: fit-content;
  background: var(--foreground);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  max-width: var(--max-width);
}

.text-block h1 {
  color: var(--copy);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 15px;
}

.text-block p {
  color: var(--copy-light);
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}


.link-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  width: 175px;
  height: fit-content;
  border: none;
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  margin-top: 25px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 400;
  background: var(--foreground);
  border: 2px solid var(--border);
  color: var(--copy)
}

.skills {
  width: 80%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  gap: 15px;
  font-size: 24px;
  background: var(--foreground);
  border: 1px solid var(--border);
  color: var(--copy);
  border-radius: var(--border-radius);
  max-width: var(--max-width);
}

.skill {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  background: var(--foreground);
  border: 2px solid var(--border);
  color: var(--copy);
  cursor: pointer;
}