:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light, dark;
}

/* Light Mode */
:root {
  --primary: rgb(2, 81, 132);
  --primary-content: rgb(136, 207, 253);
  --primary-dark: rgb(1, 50, 82);
  --primary-light: rgb(3, 112, 182);

  --secondary: rgb(118, 2, 132);
  --secondary-content: rgb(241, 136, 253);
  --secondary-dark: rgb(73, 1, 82);
  --secondary-light: rgb(163, 3, 182);

  --background: rgb(237, 240, 242);
  --foreground: rgb(251, 251, 252);
  --border: rgb(218, 224, 228);
  --copy: rgb(33, 39, 44);
  --copy-light: rgb(87, 105, 117);
  --copy-lighter: rgb(123, 144, 157);

  --success: rgb(2, 132, 2);
  --warning: rgb(132, 132, 2);
  --error: rgb(132, 2, 2);
  --success-content: rgb(136, 253, 136);
  --warning-content: rgb(253, 253, 136);
  --error-content: rgb(253, 136, 136);

  --border-radius: 0.375rem;
  --box-shadow: 0 0px 10px 1px rgb(2, 81, 132, 0.5);
  --max-width: 700px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(22, 26, 29);
    --foreground: rgb(33, 39, 44);
    --border: rgb(54, 66, 73);
    --copy: rgb(251, 251, 252);
    --copy-light: rgb(211, 218, 222);
    --copy-lighter: rgb(152, 169, 179);
  }
}

html {
  background: var(--background);
  background-color: var(--background);
  border: none;
}


body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: scroll;
  background: var(--background);
  border: none;
}
